@page "/players/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorTeamRegistrationApp.Models
@inject IDbContextFactory<BlazorTeamRegistrationApp.Data.BlazorTeamRegistrationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>Player</h2>
    <hr />
    @if (player is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">First Name</dt>
            <dd class="col-sm-10">@player.FirstName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Last Name</dt>
            <dd class="col-sm-10">@player.LastName</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Height</dt>
            <dd class="col-sm-10">@player.Height</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Weight</dt>
            <dd class="col-sm-10">@player.Weight</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Games Played</dt>
            <dd class="col-sm-10">@player.GamesPlayed</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Goals</dt>
            <dd class="col-sm-10">@player.Goals</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Assists</dt>
            <dd class="col-sm-10">@player.Assists</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Points</dt>
            <dd class="col-sm-10">@player.Points</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DoB</dt>
            <dd class="col-sm-10">@player.DoB</dd>
        </dl>
        <EditForm method="post" Model="player" OnValidSubmit="DeletePlayer" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(player is null)">Delete</button> |
            <a href="/players">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Player? player;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        player = await context.Player.FirstOrDefaultAsync(m => m.ID == ID);

        if (player is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePlayer()
    {
        using var context = DbFactory.CreateDbContext();
        context.Player.Remove(player!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/players");
    }
}
