@page "/players/details"
@using Microsoft.EntityFrameworkCore
@using BlazorTeamRegistrationApp.Models
@inject IDbContextFactory<BlazorTeamRegistrationApp.Data.BlazorTeamRegistrationContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Player</h2>
    <hr />
    @if (player is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">First Name</dt>
            <dd class="col-sm-10">@player.FirstName</dd>
            <dt class="col-sm-2">Last Name</dt>
            <dd class="col-sm-10">@player.LastName</dd>
            <dt class="col-sm-2">Height</dt>
            <dd class="col-sm-10">@player.Height</dd>
            <dt class="col-sm-2">Weight</dt>
            <dd class="col-sm-10">@player.Weight</dd>
            <dt class="col-sm-2">Games Played</dt>
            <dd class="col-sm-10">@player.GamesPlayed</dd>
            <dt class="col-sm-2">Goals</dt>
            <dd class="col-sm-10">@player.Goals</dd>
            <dt class="col-sm-2">Assists</dt>
            <dd class="col-sm-10">@player.Assists</dd>
            <dt class="col-sm-2">Points</dt>
            <dd class="col-sm-10">@player.Points</dd>
            <dt class="col-sm-2">DoB</dt>
            <dd class="col-sm-10">@player.DoB</dd>
        </dl>
        <div>
            <a href="@($"/players/edit?id={player.ID}")">Edit</a> |
            <a href="@($"/players")">Back to List</a>
        </div>
    }
</div>

@code {
    private Player? player;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        player = await context.Player.FirstOrDefaultAsync(m => m.ID == ID);

        if (player is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
